# Compiled binaries
tests/test_softlink
tests/test_nimport
tests/libtestlib.so
tests/libtestlib.dylib
tests/testlib.dll

# Example binaries
examples/struct_verification
examples/tls_backend

# Blog drafts
docs/

# Nim cache
nimcache/
